/vendor

# Files generated for production:
/local/

# Files generated for tests:
/tests/Tests/**/generated/
/tests/Tests/Parametizer/ScriptLauncher/ThrowOnException/parametizer.env.json
/tests/Tests/Parametizer/ScriptLauncher/ThrowOnException/ScriptClasses/parametizer.env.json
